body {
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.number-one-button,
.number-tow-button,
.number-three-button,
.number-four-button,
.number-five-button,
.number-six-button,
.number-seven-button,
.number-eight-button,
.number-nien-button,
.number-zero-button,
.dot-button,
.equal-button {
  background-color: rgb(45, 42, 42);
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  margin-right: 6px;
}

.clear-button {
  background-color: rgb(45, 42, 42);
  color: white;
  font-size: 16px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
}

.plus-button,
.minus-button,
.multiply-button,
.divide-button {
  background-color: rgb(158, 156, 26);
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  margin-right: 6px;
}
