    .cat-16 {
      width: 200px;
      border-radius: 10px;
      display: block;
      margin-bottom: 16px;
    }

    .cat-10 {
      border-width: 2px;
      width: 210px;
      height: 210px;
      object-fit: cover;
      object-position: center;
    }

    .cat-11 {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      object-fit: cover;
      object-position: center;
    }

    .search-1 {
      width: 200px;
      height: 30px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      font-family: Arial;
      font-size: 16px;
      border-radius: 8px;
      border-color: red;
      border-style: solid;
    }

    .search-2 {
      width: 300px;
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      border: none;
      border-radius: 30px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    .email {
      font-size: 22px;
      font-family: Arial;
      color: gray;
      margin-bottom: 10px ;
    }

    .email-box {
      font-size: 22px;
      width: 550px;
      height: 45px;
      border-width: 3px;
      border-color: red;
      border-style: solid;
      border-radius: 5px;
    }

    .agree {
      font-size: 22px;
      font-family: Arial;
      color: gray;
      margin-top: 30px;
    }

    .agree-button {
      background-color: blue;
      color: white;
      font-size: 26px;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      border-radius: 50px;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 1);
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
    }

    .cat {
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: center;
      border: none;
      border-radius: 50px;
      vertical-align: middle;
    }

    .what {
      color: gray;
      font-size: 28px;
      font-family: Arial;
      font-weight: bold;
      vertical-align: middle;
      border: none;
      padding-left: 16px;
      padding-right: 10px ;
      
    }

    .tweet {
      background-color: rgb(84, 84, 179);
      color: white;
      font-size: 22px;
      font-weight: bold;
      border: none;
      border-radius: 24px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      vertical-align: middle;
      

    }