
.last {
  font-size: 18px;
  display: inline;
}

.email {
  width: 325px;
  height: 30px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.sign {
  width: 340px;
  height: 40px ;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px black;
  cursor: pointer;
}

.sign:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
  box-shadow: 0 5px 10px burlywood;
}

.sign:active {
  background-color: gainsboro;
  color: rgb(78, 152, 106);
  box-shadow: 0 5px 10px rgb(72, 49, 18); 
}