.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;

}

.cat1 {
  width: 100%;
}

.olive {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.mutual1 {
  color: gray;
  margin-top: 5px;
  margin-left: 5px;
}

.add1 {
  background-color: blueviolet;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
}

.cat2 {
  width: 100%;
}

.Mimi {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.dog {
  width: 100%;
}

.rex {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.div1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  width: 100%;
}

.div2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  width: 100%;
}

.div3 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  width: 100%;
}