.SUBSCRIBE-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.SUBSCRIBE-button:hover {
  opacity: 0.8;
}

.SUBSCRIBE-button:active {
  opacity: 0.5;
}

.JOIN-button {
  background-color: white;
  border-color: rgb(16, 42, 189);
  border-style: solid;
  border-width: 1px;
  color: blue;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.JOIN-button:hover {
  background-color: blue;
  color: white;
}

.JOIN-button:active {
  opacity: 0.7;
}


.Tweet-button {
  background-color: rgb(46, 120, 205);
  color: white;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 74px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.Tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}