p {
  font-family: Montserrat;
}

.model3 {
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 5px;

}

.touchless {
  cursor: pointer;
  text-decoration: underline;
}